html,
body {
	font-size: 14px;
	color: #666
}
/* background-color:#4ac7d9; #e1e9a9 */

h5 {
	margin: 5px 7px;
	color: #666
}
header {
	background: #4ac7d9;
	color: white
}
p {
	font-size: 12px
}
.mui-bar-nav {
	box-shadow: none;
	webkit-box-shadow: none
}
.mui-pull {
	color: #666;
	font-weight: none
}
.mui-pull-loading {
	color: #666
}
.mui-pull-caption {
	font-size: 12px
}
.mui-bar-tab .mui-tab-item {
	color: white;
}
.mui-bar-tab .mui-tab-item.mui-active {
	color: yellow
}
.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
	font-size: 12px
}
.mui-bar-tab .mui-tab-item .mui-icon .iconfont {
	font-size: 14px
}
/* padding-top: 44px; */
/*nav.diy-btm{height:80px;} */
/*.mui-bar.diy-btm{background:white;}*/
/*.mui-bar-tab.diy-btm   .mui-tab-item{color:black;background:whitesmoke}*/
/*.mui-bar-tab.diy-btm   .mui-tab-item.mui-active{color:brown}*/

.mui-content {
	padding-bottom: 80px;
}
.mui-media-body {
	color: #666
}
.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
	background: #4ac7d9;
	color: #312604;
	border: 1px solid #4ac7d9
}
.mui-btn-primary2,
input[type=submit] {
	background: #4ac7d9;
	color: #f0f0f0;
	border: 1px solid #4ac7d9
}
.mui-btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	border-radius: 15px
}
.mui-btn2,

input[type=button],
input[type=reset],
input[type=submit] {
	border-radius: 15px
}

.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before {
	color: #4ac7d9
}
.mui-switch.mui-active {
	background-color: #4ac7d9;
	border-color: #2daec1;
}
.mui-bar a {
	color: floralwhite
}
.mui-bar {
	background: #4ac7d9
}
/* #49bdcb; */

.mui-bar .mui-title {
	color: white;
}
#list {
	margin-top: -1px;
}
/*	.mui-content-padded{background:#fff;margin: 5px;text-align:center;} */
/*	.mui-input-group{width:100%} */
/*	.mui-input-group:before{height:0px}
			.mui-input-group:after{height:0px}
			
			.mui-input-group .mui-input-row:after{height:0px;border:0px}
*/

.reg_div {
	margin: 5px auto;
	height: auto;
	-webkit-padding-start: 0px;
}
.reg_div li {
	float: left;
	list-style: none;
	height: auto;
	border: 0px solid red
}
.reg_div_left {
	width: 20%;
	float: left
}
.reg_div_right {
	width: 70%;
	float: left
}
.price_span {
	font-weight: bold;
	font-size: 20px;
	color: #ffcc00
}
.mui-table-view-cell:after {
	left: 0px
}
/* list */

.mui-table-view {
	background: transparent
}
#record_ul li {
	background: white
}
/* order list*/

.span_arrow_right:after {
	right: 10px;
	content: '\e583';
	font-family: Muiicons;
	font-size: inherit;
	line-height: 1;
	position: absolute;
	top: 50%;
	display: inline-block;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-decoration: none;
	color: #bbb;
	-webkit-font-smoothing: antialiased;
}
.div_arrow_right:after {
	right: 0px;
	content: '\e583';
	font-family: Muiicons;
	font-size: inherit;
	line-height: 1;
	position: absolute;
	top: 50%;
	display: inline-block;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-decoration: none;
	color: #bbb;
	-webkit-font-smoothing: antialiased;
}
.div_arrow_right_line:after {
	right: 0px;
	content: '\e583';
	font-family: Muiicons;
	font-size: inherit;
	line-height: 1;
	position: absolute;
	top: 50%;
	display: inline-block;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-decoration: none;
	color: #bbb;
	-webkit-font-smoothing: antialiased;
}
.order_div_left {
	width: 25%;
	float: left;
	text-align: center;
	height: 85px;
	border: 0px solid red;
	border-right: 1px solid gainsboro
}
.order_div_middle {
	width: 53%;
	float: left;
	border: 0px solid red;
	text-indent: 10px
}
.order_div_middle img {
	width: 25px
}
.order_div_right {
	width: 22%;
	float: left;
	text-align: center;
	padding-right: 20px;
	padding-top: 0px;
	border: 0px solid red
}
.orderimg_div {
	float: left;
	width: 100%;
	text-align: center;
	padding-right: 10px;
	border-right: 0px solid gainsboro
}
.orderimg_div img {
	width: 70px;
	margin-top: 5px
}
.order_right_datetime_div {
	width: 100%;
	float: left;
	font-size: 14px;
	border: 0px solid red;
	color: #9e9e9e;
	font-size: 18px
}
.order_right_cartype_div {
	margin-top: 5px;
	width: 100%;
	float: left;
	font-size: 14px;
	border: 0px solid red;
	color: #9e9e9e
}
.order_right_money_div {
	margin-top: 5px;
	width: 100%;
	float: left;
	font-size: 18px;
	font-weight: bold;
	border: 0px solid red;
	color: black
}
.process_span {
	clear: both;
	float: center;
	margin: 0px auto;
	margin-top: 20px;
	width: 50px;
	height: 50px;
	padding-top: 10px;
	padding-top: 15px;
	font-size: 14px;
	text-align: center;
	color: white;
	background: #4ac7d9;
	border-radius: 35px;
}
.process_span_qd {
	clear: both;
	float: center;
	margin: 0px auto;
	margin-top: 15px;
	width: 60px;
	height: 60px;
	padding-top: 20px;
	font-size: 16px;
	text-align: center;
	color: white;
	background: #f03b28;
	border-radius: 35px;
}
.status_span {
	clear: both;
	float: center;
	margin: 0px auto;
	margin-top: 20px;
	width: 50px;
	height: 50px;
	padding-top: 10px;
	padding-top: 15px;
	font-size: 14px;
	text-align: center;
	color: #adadad;
	background: #f0f0f0;
	border-radius: 35px;
}
.status_span_special {
	clear: both;
	float: center;
	margin: 0px auto;
	margin-top: 10px;
	width: 50px;
	height: 50px;
	padding-top: 10px;
	padding-top: 5px;
	font-size: 14px;
	text-align: center;
	color: #adadad;
	background: #f0f0f0;
	border-radius: 35px;
}
/* order detail*/

.order_detail_div_banner {
	width: 100%;
	background: #f0f0f0;
	font-size: 20px;
	text-indent: 20px;
	color: #b1b1b1;
	padding-top: 10px;
	padding-bottom: 10px
}
#div_btm_next {
	float: center;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	padding-top: 0px;
	border-bottom: 0px;
}
#btn_next_btn_noactive {
	display: none;
	width: 300px;
	font-size: 20px;
	float: center;
	margin: 0px auto;
	height: 60px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #b2b2b2;
	border: 2px solid #b2b2b2;
	color: adadad;
}
#btn_next_btn {
	width: 300px;
	font-size: 20px;
	float: center;
	margin: 0px auto;
	height: 60px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #272b2e;
	border: 2px solid #272b2e;
	color: white;
}
#btn_process_btn {
	width: 300px;
	font-size: 15px;
	float: center;
	margin: 0px auto;
	height: 46px;
	border-radius: 8px;
	color: white;
}
#btn_save_btn {
	display: none;
	width: 300px;
	font-size: 20px;
	float: center;
	margin: 0px auto;
	height: 60px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #272b2e;
	border: 2px solid #272b2e;
	color: white;
}
#btn_save_btn_noactive {
	display: block;
	width: 300px;
	font-size: 20px;
	float: center;
	margin: 0px auto;
	height: 60px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #b2b2b2;
	border: 2px solid #b2b2b2;
	color: white;
}
#btn_pause_btn {
	width: 120px;
	font-size: 20px;
	float: center;
	margin: 0px auto;
	height: 60px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #272b2e;
	border: 2px solid #272b2e;
	color: white;
}
#btn_finish_btn {
	width: 80%;
	float: center;
	margin: 0px auto;
	height: 60px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #272b2e;
	border: 2px solid #272b2e;
	color: white;
}
.order_detail_otitle {
	width: 30%;
	float: left;
	text-align: right;
}
.order_detail_ovalue {
	width: 60%;
	float: left;
	text-align: left
}
/* #mui-content{display:none}	*/
/*--capital*/

.cap_total_div {
	font-size: 30px;
	font-weight: bold;
	padding-top: 35px;
	text-align: center;
	color: white;
	background: #4ac7d9;
	border: 1px solid #4ac7d9;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	margin: 0px auto
}
.cap_total_div_withdraw {
	font-size: 30px;
	font-weight: bold;
	padding-top: 25px;
	text-align: center;
	color: white;
	background: #4ac7d9;
	border: 1px solid #4ac7d9;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	margin: 0px auto
}
.total_money_title {
	font-size: 16px
}
.mui-btn.pickerbutton {
	margin: 0px auto;
	border-radius: 5px;
	border-color: 0px solid #4ac7d9;
	box-shadow: none;
	color: white;
	font-size: 18px;
	background: #c8c8c8
}
.submit_btn {
	width: 300px;
	font-size: 20px;
	float: center;
	margin: 0px auto;
	height: 60px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #272b2e;
	border: 2px solid #272b2e;
	color: adadad;
}
.mui-btn {
	border: 0px
}
.cap_div_left {
	width: 20%;
	float: left;
	height: 40px;
	padding-top: 20px
}
.cap_div_left .cap_month_span {
	float: left;
	font-size: 30px;
	font-weight: bold;
	border: 0px;
	background: white;
	color: black
}
.cap_div_right {
	width: 80%;
	float: left;
	height: 60px;
}
.cap_div_right_top {
	width: 100%;
	height: 30px;
	text-align: right
}
;
.cap_div_right_btm {
	width: 100%;
	height: 30px;
	text-align: right
}
;
.mui-table-view-cell .status_span1 {
	float: right;
	;
	width: 100px;
	background: white;
	color: black;
	text-align: center;
	border-radius: 10px
}
.mui-table-view-cell .status_span2 {
	float: left;
	width: 100px;
	background: white;
	color: black;
	text-align: center;
	border-radius: 10px
}
.mui-table-view-cell .process_span1 {
	float: right;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	color: white;
	background: #4ac7d9;
	border-radius: 10px
}
.mui-table-view-cell .process_span2 {
	float: right;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	background: #c8c8c8;
	color: white;
	border-radius: 10px
}
.mui-table-view-cell .process_span1_0 {
	float: right;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	color: white;
	background: #4ac7d9;
	border-radius: 10px
}
.mui-table-view-cell .process_span2_0 {
	float: right;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	;
	text-align: center;
	background: #c8c8c8;
	color: white;
	border-radius: 10px
}
#curyear {
	color: #c8c8c8
}
#curyear2 {
	color: #c8c8c8
}
/* chat */

.chat-table-cell {
	width: 100%
}
.chat_div_left {
	width: 25%;
	height: 80px;
	float: left;
	text-align: center;
	border: 0px solid red
}
.chat_div_middle {
	width: 35%;
	padding-top: 25px;
	font-size: 16px;
	font-weight: none;
	float: left;
	border: 0px solid red;
	text-indent: 10px
}
.chat_div_right {
	width: 40p%;
	padding-top: 22px;
	float: left;
	text-align: center;
	padding-right: 20px;
	border: 0px solid red
}
.chat_div_right img {
	width: 100px
}
.chatimg_div {
	float: left;
	width: 100%;
	text-align: center;
	padding-right: 10px;
	border-right: 0px solid gainsboro
}
.chatimg_div img {
	width: 70px
}
/* setting */

.mui-navbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	height: 44px;
	background-color: #4ac7d9;
}
/* chatuserlist start */

.chat-table-cell2 {
	width: 100%;
}
.chat_div_left2 {
	width: 25%;
	height: auto;
	float: left;
	text-align: center;
	border: 0px solid red
}
.chat_div_middle2 {
	width: 35%;
	padding-top: 25px;
	font-size: 16px;
	font-weight: none;
	float: left;
	border: 0px solid red;
	text-indent: 10px
}
.chat_div_right2 {
	width: 75%;
	padding-top: 0px;
	float: left;
	text-align: left;
	padding-right: 0px;
	border: 0px solid red
}
.chat_div_right2 .d_c_1 {
	float: left;
	position: relative;
	width: 100%;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: black
}
.chat_div_right2 .d_c_2 {
	float: left;
	position: relative;
	width: 100%;
	text-align: left;
	font-size: 13px;
	padding-top: 10px;
	font-weight: none;
	color: #d6d6d6
}
.chat_div_right2 .d_c_3 {
	position: absolute;
	right: 10px;
	top: 0px;
	text-align: right;
	font-size: 12px;
	padding-top: 10px;
	font-weight: none;
	color: #d6d6d6
}
.chat_div_right2 img {
	width: 100px
}
.chatimg_div2 {
	float: left;
	width: 100%;
	text-align: center;
	padding-right: 10px;
	border-right: 0px solid gainsboro
}
.chatimg_div2 img {
	width: 70px
}
/* chatuserlist end */