
	
/* 导航bar */
.top_div{position:absolute;width:100%;height:auto;background:white}
.top_div .filter_nav{position:relative;width:100%;padding-left:10%;padding-right:10%;background:#4ac7d9;border:0px;padding-top:10px;height:50px;text-align:center;}
.mui-bar-nav{box-shadow: none;}
.top_div .filter_nav .mui-bar-tab{position:relative;box-shadow: 0 0 0px white;color:white;margin:0px auto;padding-top:10px;margin-bottom:10px;height:30px;border-radius:2px;border:1px solid white;padding:0px}
.top_div  .filter_nav .mui-bar-tab .mui-tab-item.mui-active{height:30px;color:#4ac7d9;border-bottom:0px solid #ff0033;border-top:0px solid white;background:white;}

.top_div  .filter_nav .mui-bar-btm .mui-tab-item.mui-active{color:#ff0033;border-bottom:0px solid #ff0033;border-top:1px solid white;}


.top_div  .filter_nav	.mui-bar-tab .mui-tab-item{font-size:14px;height:30px;padding-top:0px;padding-bottom:0px;line-height: 30px;}
.top_div  .filter_nav		.mui-bar-tab .mui-tab-item a{height:30px}
	
	
.top_div   .filter_nav2{clear:left;position:relative;width:100%;background:white;border-bottom:0px solid gray}	
.top_div   #filter_nav2 img{width:28px;height:28px}
.top_div  #filter_nav2 .mui-bar-nav{box-shadow: none;}
.top_div  #filter_nav2 .mui-bar-tab{box-shadow: 0 0 0px white;color:white;margin:0px auto;padding-top:10px;margin-bottom:0px;height:60px;width:100%;border-radius:0px;border-bottom:0px solid gainsboro;padding:0px}
.top_div  #filter_nav2 .mui-bar-tab .mui-tab-item.mui-active{height:40px;color:#4ac7d9;border-bottom:0px solid #ff0033;border-top:0px solid white;background:white;font-weight:bold;}
.top_div  #filter_nav2 .mui-bar-tab .mui-tab-item{font-size:14px;height:40px;background:white;color:#cccccc;padding-top:0px;padding-bottom:0px;line-height: 40px;}
.top_div  #filter_nav2 .mui-bar-tab .mui-tab-item a{height:40px}
	
/* orderlist */	
.favlist-mui-content{width:100%;position:relative;padding-top:50px;height:auto}
.favlist-mui-content .mui-scroll-wrapper{width:100%;height:auto;position:relative;padding-top:0px;z-index:999;}
.favlist-mui-content .mui-scroll{position:relative;margin-top:0px}
.favlist-mui-content .mui-table-view{position:relative;margin-top:0px}
