
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont2.eot'); /* IE9*/
  src: url('../fonts/iconfont2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont2.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont2.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont2.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-Android:before { content: "\e600"; }
.icon-shouji:before { content: "\e601"; }
.icon-fasongdaoshouji:before { content: "\e602"; }
.icon-shouji1:before { content: "\e603"; }
.icon-shoujichongzhi:before { content: "\e604"; }
.icon-shoujihaoma:before { content: "\e605"; }
.icon-shoujirenzheng:before { content: "\e606"; }
.icon-shouji2:before { content: "\e607"; }
.icon-circularmobile:before { content: "\e608"; }
.icon-shoujiyaoyiyao:before { content: "\e609"; }
.icon-iconziti24:before { content: "\e60a"; }
.icon-4:before { content: "\e60b"; }
.icon-shouji3:before { content: "\e60c"; }
.icon-icon02:before { content: "\e60d"; }
.icon-shoujichongzhi1:before { content: "\e60e"; }
.icon-shoujihover:before { content: "\e60f"; }
.icon-shouji4:before { content: "\e610"; }
.icon-anzhuoshouji:before { content: "\e611"; }
.icon-shouji5:before { content: "\e612"; }
.icon-shoujizhuce:before { content: "\e613"; }
.icon-shoujiduanxin:before { content: "\e614"; }
.icon-shoujizhuce1:before { content: "\e615"; }
.icon-shoujibangding:before { content: "\e616"; }
.icon-shoujibangding1:before { content: "\e617"; }
.icon-shoujidadianhua:before { content: "\e618"; }
.icon-shouji6:before { content: "\e619"; }
.icon-shoujitongxunlu:before { content: "\e61a"; }
.icon-iconfontshoujitongxunlu:before { content: "\e61b"; }
.icon-snimicpcheshouji:before { content: "\e61c"; }
.icon-shouji7:before { content: "\e61d"; }
.icon-shoujibangding2:before { content: "\e61e"; }
.icon-shoujijianpiao:before { content: "\e61f"; }
.icon-shouji8:before { content: "\e620"; }
.icon-shoujihujiao:before { content: "\e621"; }
.icon-zaixiankefu:before { content: "\e622"; }
.icon-shoujirenzheng1:before { content: "\e623"; }
.icon-shouji9:before { content: "\e624"; }
.icon-shouji10:before { content: "\e625"; }
.icon-shouji11:before { content: "\e626"; }
.icon-shoujiwangzhanzhifu:before { content: "\e627"; }
.icon-shoujihaoshuru:before { content: "\e628"; }
.icon-shoujihaoshuru1:before { content: "\e629"; }
.icon-shoujibaoling:before { content: "\e62a"; }
.icon-shoujitixing:before { content: "\e62b"; }
.icon-svg48:before { content: "\e62c"; }
.icon-shouji12:before { content: "\e62d"; }
.icon-shouji13:before { content: "\e62e"; }
.icon-shoujichongzhi2:before { content: "\e62f"; }
.icon-shoujidadianhua1:before { content: "\e630"; }
