
.jalendar {
    position: relative;
    width: 300px;
    margin: 0px auto;
}
.jalendar .left {
    float: left;
}
.jalendar .clear {
    clear: both;
}
.jalendar.mid {
   /* width:420px;*/
  width:420px;
}
.jalendar .added-event {
    display: none;
}
.jalendar-wood {
    position: relative;
 /*   background: url('../../images/jalendar-wood-bg.png') left top; */
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.7), inset 0 -2px 10px rgba(255,255,255,0.3);
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-top: 1px solid #e1bf89;
    border-right: 1px solid #b4925d;
    border-left: 1px solid #b4925d;
    display: inline-block;
    z-index: 2;
}
.jalendar-wood .close-button {
    position: absolute;
    right: -24px;
    display: none;
    top: -24px;
    cursor: pointer;
    width: 50px;
    height: 51px;
    background: url(../../images/jalendar-sprite.png) -65px -589px no-repeat;
}

.jalendar .wood-bottom {
    position: absolute;
    bottom: -6px;
   /* background: url('../../images/jalendar-wood-bg.png') center top; */
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.8), 0 2px 5px rgba(0,0,0,0.7);
    border-bottom: 1px solid #653f08;
}
.jalendar-pages {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 4px #444;
    display: inline-block;
    
    width: 100%; 
 
    
    float: left;
}
.jalendar .pages-bottom {
    position: absolute;
    border-radius: 0 0 2px 2px;
    height: 4px;
    bottom: -4px;
    left: 1%;
    width: 98%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5), inset 0 1px 2px rgba(0,0,0,0.5);
    background: #fff;
}
.jalendar-pages > .header {
    text-align: center;
    background: #65c2c0;
    position: relative;
    border-radius: 3px 3px 0 0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5), inset 0 -1px 0 rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.7), inset 0 -10px 20px rgba(0,0,0,0.2), inset 0 40px 40px rgba(255,255,255,0.3);
    overflow: hidden;
}
.jalendar-pages > .header h1 {
    margin: 13px 0 0 0;
    padding: 0;
    display: inline-block;
    font: 24px "Roboto", Arial, Helvetica, Geneva, sans-serif;
    color: #fff;
    text-shadow: 0 -1px 3px rgba(0,0,0,0.5);
}
.jalendar-pages > .header .prv-m, 
.jalendar-pages > .header .nxt-m {
    text-decoration: none;
    width: 31px;
    position: absolute;
    display: inline-block;
    height: 31px;
    background: url('../../images/jalendar-sprite.png') no-repeat;
    top: 15px;
    cursor: pointer;
}
.jalendar-pages > .header .prv-m {
    background-position: 0 0;
    left: 20px;
}
.jalendar-pages > .header .nxt-m {
    background-position: -34px 0;
    right: 20px;
}
.jalendar-pages > .header .day-names {
    margin: 10px 10px 0 10px;
    overflow: hidden;
    text-align: center;
    font-size: 0;
}
/*   background: url('../../images/jalendar-sprite.png') no-repeat 0 -41px; */
.jalendar-pages > .header h2 {
    display: inline-block;
    width: 14%;
    padding: 7px 0 0 0;
    text-indent: 1px;
    text-align: center;
    margin: 0;
  
    height: 22px;
    font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-shadow: 0 1px 0 #000;
    color: #fff;
}
.jalendar .header h2:first-child {
    background: none !important;
}
.jalendar .total-bar {
    margin: 12px 15px;
    background-color: rgba(0,0,0,0.06);
    border-radius: 30px;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.3);
    padding: 6px 12px;
    color: #666;
    font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.jalendar .total-bar b {
    color: #65c2c0;
    text-shadow: 0 1px 1px rgba(255,255,255,1);
}
.jalendar .days {
    margin: 10px 10px 20px 10px;
    font-size: 0;
    text-align: center;
}
.jalendar .days .day {
    display: inline-block;
    width: 14%;
    height: 30px;
    padding: 5px;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    font: 14px "Roboto", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #666;
    cursor: pointer;
    position: relative;
}
.jalendar.mid .days .day {
    height: 40px;
    font-size: 18px;
    padding-top: 8px;
}
.jalendar .days .day:hover {
	background-color: #feffea;
}

.jalendar .days .day.selected {
    box-shadow: inset 0 5px 15px rgba(255,255,255,0.4), inset 0 -10px 10px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

.jalendar .days .day:nth-child(7n+1) {
    border-left: 1px solid #e0e0e0;
}
.jalendar .days .day:nth-last-child(1),
.jalendar .days .day:nth-last-child(2),
.jalendar .days .day:nth-last-child(3),
.jalendar .days .day:nth-last-child(4),
.jalendar .days .day:nth-last-child(5),
.jalendar .days .day:nth-last-child(6),
.jalendar .days .day:nth-last-child(7) {
    border-bottom: 1px solid #e0e0e0;
}
.jalendar .days .day.today.selected {
    color: #fff !important;
}
.jalendar .days .day > .event-single {
    display: none;
}
.jalendar .days .day.selected > i {
    display: none;
}
.jalendar .days .day > i {
    position: absolute;
    right: -1px;
    top: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url(../../images/jalendar-sprite.png) 0 -580px;
}

/*   max-width: 274px !important; */
.jalendar .add-event {
    float: right;
    display: none;
    width:100%
  
}
.jalendar .add-new {
    background: url(../../images/jalendar-sprite.png) 0 -325px repeat-x;
    margin: 0 0 20px 0;
    padding: 20px 15px 15px 15px;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    position: relative;
}
.jalendar .add-new input[type="text"] {
    padding: 5px 15px;
    box-sizing: border-box;
    border: none;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(255,255,255,1), inset 0 2px 5px rgba(0,0,0,0.4);
    font: 18px "Roboto", "Helvetica Neue", Arial;
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    outline: none;
    margin: 0 0 15px 0;
}
.jalendar .add-new .submit {
    position: absolute;
    
    top: 25px;
    background: url(../../images/jalendar-sprite.png) 0 -614px no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    cursor: pointer;
}
.jalendar .add-new .submit:active {
    background-position: -32px -614px;
}
.jalendar .add-time {
    float: left;
    width: 108px;
    background: url(../../images/jalendar-sprite.png) 0 -179px;
    padding: 0 0 0 20px;
    font: bold 13px "Helvetica Neue", Arial;
    position: relative;
}
.jalendar .add-time .disabled {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: not-allowed;
}
.jalendar .add-time .select {
    background: url(../../images/jalendar-sprite.png) right -250px repeat-x;
    position: relative;
    float: left;
    border-radius: 2px;
    border: 1px solid #999;
    cursor: pointer;
    letter-spacing: 1px;
    height: 25px;
    z-index: 9;
    width: 42px;
    text-align: center;
}
.jalendar .add-time .select span {
    display: inline-block;
    padding: 5px 20px 5px 7px;
}
.jalendar .add-time .select .dropdown {
    position: absolute;
    left: -1px;
    width: 100%;
    top: 27px;
    text-align: center;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #999;
    display: none;
    height: 200px;
    overflow-x: scroll;
}
.jalendar .add-time .select .dropdown .option {
    padding: 5px 0;
}
.jalendar .add-time .select .dropdown .option:hover {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0 -1px 0 rgba(0,0,0,0.3), inset 0 1px 1px rgba(255,255,255,0.5), inset 0 -14px 7px rgba(0,0,0,0.1), inset 0 14px 7px rgba(255,255,255,0.1);
    color: #fff;
}
.jalendar .add-time .select + .left {
    padding: 5px 4px 0 4px;
}

.jalendar .all-day {
    float: right;
    width: 115px;
    font: bold 13px "Helvetica Neue", Arial;
}
.jalendar .all-day fieldset {
    background: url(../../images/jalendar-sprite.png) 0 -492px repeat-x;
    position: relative;
    float: right;
    border-radius: 2px;
    border: 1px solid #999;
    padding: 5px 7px;
    cursor: pointer;
    height: 15px;   
}
.jalendar .all-day fieldset .check {
    float: left;
    width: 18px; 
    border-right: 1px solid #999;
    display: inline-block;
    height: 27px;
    margin: -6px 0 0 0;
    background: url(../../images/jalendar-sprite.png) -2px -284px;
    position: relative;
}
.jalendar .all-day fieldset .check span {
    position: absolute;
    left: 3px;
    top: 11px;
    border-radius: 2px;
    display: inline-block;
    width: 6px;
    height: 6px;
}
.jalendar .all-day fieldset label {
    float: left;
    padding: 0 0 0 5px;
    cursor: pointer;
}

.jalendar .events {
    height: 200px;
    position: relative;
}
.jalendar .events h3 {
    background: url(../../images/jalendar-sprite.png) center -532px no-repeat;
    display: inline-block;
    width: 100%;
    font: 20px "Roboto", "Helvetica Neue", Arial;
    color:#333;
    text-shadow: 0 1px 1px #fff;
    text-align: center;
    margin: 0 0 10px 0;
}
.jalendar .events h3 span {
    display: inline-block;
    background: url(../../images/jalendar-wood-bg.png);
    padding: 0 10px;
}
.jalendar .events .events-list {
    max-height: 100%;
    overflow-x: auto;
    padding: 2px 2px 0 2px;
    position: relative;
    z-index: 2;
}
.jalendar .events .gradient-wood {
    position: absolute;
    z-index: 1;
    bottom: -39px;
    display: none;
    left: -1%;
    width: 102%;
    height: 2px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.45);
    box-shadow: 0 1px 2px #fff;
}
.jalendar .events .event-single {
    background: url(../../images/jalendar-sprite.png) 0 -90px;
    border-radius: 7px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.75);
    margin: 0 0 10px 0;
}
.jalendar .events .event-single p {
    padding: 7px 10px;
    font: bold 13px "Helvetica Neue", Arial;
    margin: 0;
    color: #333;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.jalendar .events .event-single p a {
    color: #333;
}
.jalendar .events .event-single .details {
    border-top: 1px solid rgba(255,255,255,0.4);
    padding: 5px 10px;
    overflow: hidden;
}
.jalendar .events .event-single .details .clock {
    background: url(../../images/jalendar-sprite.png) 0 -184px;
    color: #fff;
    padding: 0 0 0 20px;
    font: bold 12px "Helvetica Neue", Arial;
    float: left;
    display: inline-block;
    width: 120px;
}
.jalendar .events .event-single .details .erase {
    background: url(../../images/jalendar-sprite.png) 0 -217px;
    float: right;
    display: inline-block;
    width: 11px;
    height: 13px;
    cursor: pointer;
}

